*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
  overflow-x: hidden;
  

  
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.up{ 
  color:#ffffff;
}
.up i{
  color: #6fda44;
}
.icon{
  display: flex;
  background-color: #2b5468;
  flex-direction: row;
  position: fixed;
  height: 10vh;
  width: 100vw;
  z-index: 99999;
  top: 0;
  left: 0;
  opacity: 1;
  }
  .brand{
    margin-left: 10rem;
  }
.nav{
  justify-content: space-evenly;
  width: 100%;
  
}
.input{
  background-color: #346279;
  border-radius: 2rem;
  height: 5vh;
  width: 20vw;
  margin:2rem;
  
}
.second-menu {
  --nav-secondary-bg: var(--bg-6);
  position: absolute;
  width: 100%;
  transition: transform .35s ease-out;
  transform: translateY(0);
  background: var(--nav-secondary-bg);
  border-top: var(--border-base);
  border-bottom: none;
  border-bottom: var(--nav-secondary-border,none);
  box-shadow: var(--drop-shadow);
}

.second-icon{
  justify-content: space-evenly;
  width: 100%;
  margin-left: 7rem;
}

.one{
 font-size: 3rem;
 color:#6fda44;
 margin-left: 10rem;
}
.two{
  font-size: 3rem;
  color:#ffffff;
  margin-left: 10rem;
}
.demand h5{
  margin-left: 10rem;
}
.button1{
  margin-left: 10rem;
}
.button2{
  margin-left: 1rem;
  
}
.block-group{
  display: none;
}
.block-groups{
  display: none;
}
.btn {
  color:#6fda44;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.demand{
  background: #346279;
  height: 90vh;
  padding-left: 3rem;
 
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  width: 100vw;
  padding-top: 10rem;
}


.demand img{
  width: 70vh;
  height: 50vh;
}
.header{
  width: 100vw;
  
  padding-top: 3rem;
  justify-content: space-evenly;
  background: #fffbfb;
}
.header h4{
  padding-left: 10rem;
}
.linksdiv{
  font-size: 0.8rem;
  
}
.div div{
 width: 15vw;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  padding: 1.3rem;
  justify-content: space-evenly;
}
.section2{
  width: 100vw;
 
  padding-top: 3rem;
  background: #fffbfb;
}
.section2 p{
  margin-top: 2rem;
  text-align: center;
}

.navlink{
  color: #ffffff;
  
}
.navlink:hover {
  color: #6fda44;
  cursor: pointer;
  text-decoration: none;
}
.link{
  color: #252525;
  
}
.link:hover {
  color: #6fda44;
  cursor: pointer;
  text-decoration: underline;
}
.links{
  color: #252525;
  
}
.links:hover {
  color:  #252525;
  cursor: pointer;
  text-decoration: none;
}
.sponsor{
  width: 100vw;
  background: #ffffff;
  height: 15vh;
}

.rate{
  display: none;
}
.hire{
  width: 100vw;
  height: 50vh;
  padding-top: 3rem;
  
  justify-content: space-evenly;
  background: #fffbfb;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}
.hired{
  display: none;
}
.sponsors{
  padding-left: 10rem;
  margin-top: 5rem;
}
.b{
  margin-left: 5rem;
}
.box{
  height: 40vh;

  width: 60vw;
}
.box div {
  float: left;
  border: thin solid rgba(0, 0, 0, 0.08);
  padding: 1.1rem;
}


.offer1 div{
  border: thin solid rgba(0, 0, 0, 0.08);
  height: 80vh;
  padding: 2rem; 
  line-height: 2rem;
  box-shadow: 0 10px 20px 0 rgba(224, 222, 222, 0.08);
  background: #ffffff; 
  justify-content: space-evenly;
  
  
}
.offer1 button{
 
  margin-left: 0;
}
.offer1 h6,em{
  color: #3f3e3e;
  font-size: 0.8rem;
}
.offer{display: none;}

ul {
  list-style-type: '\2713';
  margin-right: 1rem;
}
.rate{
  height: 30vh;
  padding: 2rem;
  box-shadow: 0 10px 20px 0 rgba(241, 45, 45, 0.08);
  background: #ffffff; 
  margin-top: 2rem;
  
}
.rate div{
  color: #414141;
}
.rate1{
  display: none;
}
.page{
  background: #494848;
  height: 80vh;
  color: #ffffff;
  
}
.page div{
  margin-left: 5rem;
  margin-top: 4rem;
}
.skill{
  background: #ffffff;
  height: 100vh;
}
.skill div{
  line-height: 3rem;
  font-size: 0.7rem;
  margin-top: 6rem;
}
.skills{
  display: none;
}
.title{
  margin-top: 2rem;
}
.footer{
  
  margin-top: 1rem;
  border:thin solid rgba(224, 222, 222, 0.08);
}
.foot{
  padding: 1rem;
  border: thin solid rgba(17, 1, 1, 0.08);
  height: 35vh;
  width: 70vw;
}

.footer2{
  background: #2b5468;
  margin-top: 2rem;
  height: 100vh;
  padding: 2rem;
  color:#ffffff;
  line-height: 2rem;
}
.company{
  color:#ffffff;
}
.company:hover {
  color:#ffffff;
  cursor: pointer;
  text-decoration: underline;
}
.talent{
  color: #6fda44;;
}
.footer1 img{
  margin:1rem;
}
.app{
  float: right;
}
.c{
  display: none;
}

.pre{
  color:rgba(224, 222, 222, 0.418);
}
@media only screen and (max-width:500px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
   
  }
 body{
   width: 100%;
 }
  
  .navbar {
    position: fixed;
    
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
  .Navbar2{
    display: none;
  }
  .up{ 
    color:#ffffff;
  }
  .up i{
    color: #6fda44;
  }
  .icon{
    display: flex;
    background-color: #2b5468;
    flex-direction: row;
    flex-grow: wrap;
    position: fixed;
    height: 10vh;
    padding: 1rem;
    z-index: 99999;
    top: 0;
    left: 0;
    opacity: 1;
    }
    
  
    .brand{
      margin-left: 0.6rem;
    }
  .nav{
    justify-content: space-evenly;
    
    
  }
  .input{
    display: none;
    background-color: #346279;
    border-radius: 2rem;
    height: 5vh;
    width: 10vw;
   
    
  }
    
  .one{
   font-size: 1rem;
   color:#6fda44;
   margin-left: 0.3rem;
  }
  .two{
    font-size: 1rem;
    color:#ffffff;
    margin-left: 0.3rem;
  }
  .demand h5{
    font-size: 0.6rem;
    margin-left: 0.3rem;
  }
  .button1{
    margin-left: 0.3rem;
  }
  .button2{
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    
  }
  .btn {
    color:#6fda44;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  .demand{
    background: #346279;
    height: 50vh;
    width: 100vw;
    padding-left: 5rem;
    padding-top: 10rem;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  
  .demand img{
    display: none;
    width: 20vh;
    height: 30vh;
  }
  .block-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 9px;
  }
  .block-groups{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 9px;
  }
  .images div{
    margin-left: 2rem;
    
  }
  
  .header{
    width: 100vw;
    font-size: 1rem;
    padding-top: 3rem;
    justify-content: space-evenly;
    background: #fffbfb;
  }
  .d{
    display: none;
  }
  .header h4{
    padding-left: 10rem;
  }
  .linksdiv{
    font-size: 0.8rem;
  }
  
  
  
  .div img{
    width: 15vw;
  }
  .section3{
    width: 100vw;
   margin-left: 5rem;
    padding-top: 3rem;
    background: #fffbfb;
    
  }
  .section3 p{
    margin-top: 2rem;
    text-align: center;
  }
  .section2{
    display: none;
  }
  .navlink{
    color: #ffffff;
    
  }
  .navlink:hover {
    color: #6fda44;
    cursor: pointer;
    text-decoration: none;
  }
  .link{
    color: #252525;
    
  }
  .link:hover {
    color: #6fda44;
    cursor: pointer;
    text-decoration: underline;
  }
  .links{
    color: #252525;
    
  }
  .links:hover {
    color:  #252525;
    cursor: pointer;
    text-decoration: none;
  }
  .sponsor1{
    width: 100vw;
    background: #ffffff;
    height: 15vh;
  }
  .sponsor1 img{
    width: 10vh;
    margin-left: 2rem;
  }
  .sponsor{
    display: none;
  }
  .sponsors
  {display: none;}
  .hire{
    width: 90vw;
    height: 100vh;
    padding: 2rem;
    
    background: #fffbfb;
    
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .offer1{
    display: none;
  }
  .rate1{
    display: none;
  }
  .work{
    
   margin-left: 1rem;
   
    margin-top: 3rem;
    display: grid;
   
  }
  .work div{
    width: 100vw;
     margin-left: 0.8rem;
     padding: 1rem;
     justify-content: space-evenly;
    
   }
   
  
  .b{
    display: none;
  }
  
  .box{
    
    margin-left: 2rem;
    width: 70vw;
  }
  .box div {
    height: 30vh;
    float: left;
    border: thin solid rgba(0, 0, 0, 0.08);
    padding: 1.1rem;
    display: block;
  }
  
 .group{
   display: none;
 } 
  .offer1 div{
    border: thin solid rgba(0, 0, 0, 0.08);
    height: 100vh;
    padding: 2rem; 
    line-height: 2rem;
    box-shadow: 0 10px 20px 0 rgba(224, 222, 222, 0.08);
    background: #ffffff; 
    justify-content: space-evenly;
    margin-left: 2rem;
    
  }
  .offer button{
   
    margin-left: 0;
  }
  .offer h6,em{
    color: #3f3e3e;
    font-size: 0.8rem;
  }
  .offer1{
    display: none;
  }
  ul {
    list-style-type: '\2713';
    margin-right: 1rem;
  }
  .rate1{
    height: 30vh;
    padding: 2rem;
    box-shadow: 0 10px 20px 0 rgba(241, 45, 45, 0.08);
    background: #ffffff; 
    margin-top: 2rem;
    
  }
  .rate1 div{
    color: #414141;
  }
  .rate{
    display: none;
  }
  
  .page{
    background: #494848;
    height: 80vh;
    color: #ffffff;
    
  }
  .page div{
    margin-left: 1rem;
    margin-top: 4rem;
  }
  .skill{
    background: #ffffff;
    height: 100vh;
  }
  .skill div{
   width: 70vw;
   line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  .title{
    margin-top: 2rem;
  }
  .footers{
    
    margin-top: 1rem;
    border:thin solid rgba(224, 222, 222, 0.08);
  }
  .foot{
    padding: 1rem;
    border: thin solid rgba(17, 1, 1, 0.08);
    height: 38vh;
    width: 75vw;
    font-size: 6rem;
  }
  .foot button{
   display: none;
  }
  .footer1{
    background: #2b5468;
    margin-top: 2rem;
    height: 100vh;
    padding: 2rem;
    color:#ffffff;
    line-height: 2rem;
  }
  .footer2{
    display: none;
  }
  .company{
    color:#ffffff;
  }
  .company:hover {
    color:#ffffff;
    cursor: pointer;
    text-decoration: underline;
  }
  .talent{
    color: #6fda44;
    font-size: 1rem;
  }
  .footer1 img{
    margin:1rem;
  }
  .app{
    float: right;
  }
  
  .pre{
    color:rgba(224, 222, 222, 0.418);
  }
}